DATABASE_URL=
SESSION_ID=Prince~scl/fi/0ttljrc01o3i0jrzo1kyc/B3faA2B3aJ.json?rlkey=f401odoqlcjs0fj5dm980onno&dl=0
REMOVEBG_KEY=
PREFIX=.
MODE=public
STATUSVIEW=false
ANTI_LINK=false
REJECTSCALLS=false
REPLY_STATUS=true
antidelete=false
BOT_NAME=false
AutoReaction=false
OWNER_NUMBER=918127875972;felix
DL_MSG=Downloaded successfully
STATUS_MSG=Status seen by prince
owner_react_emojie=🤍
AlwaysOnline=false
autoreactions_emojies=💛,🤍,💗,♥️,💞
StatusLikes=false
StatusEmojies=♥️,🤗,❤️,💞,❣️,💙,💛,🤍,💚,😍,🥰,💝,💖,💗,💓,💞,💕,❣️,💘,💟,🖤,🤎,💜,💫,🌸
CALLMSG=For now calls are restricted by my owner
ANTIFAKE_USERS=1,212,63,44
PACK_NAME=felix
BUSINESS_MODE=true
MENU_IMAGE=
